.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 23%;
    cursor: pointer;
}
.wrapper span {
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.wrapper .num{
    font-size: 25px;
    border-right: 2px solid rgb(212, 166, 182,0.2);
    border-left: 2px solid rgb(212, 166, 182,0.2);
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
    pointer-events: none;
    
}
.wrapper .bt{
    background-color:  black;
    height: 36px;
    width: 142.9px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: "Open Sans", sans-serif;
    
}

hr{
    color:rgb(212, 166, 182) ;
}

.breadcrumb li a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 27px;
    color: rgb(93, 91, 91) !important;
}

.pname a{
    text-decoration: none;
    color: rgba(0,0,0);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in;
    font-size: 16px ;
    line-height: 16px;

}
.pname a:hover{
    color: rgb(93, 91, 91) !important;
}
.right h1{
    font-family: "Marcellus" , serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 12px;
} 
.common{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(93, 91, 91 , 0.5);
}
#price{
    color: rgb(93, 91, 91 );
    font-weight: 700;
}
.p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(93, 91, 91 );
}
.right p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(93, 91, 91 );
}
.bt{
    transition: all 0.3s ease-in;
    margin-left: 20px;
}
.bt:hover{
    color: white;
    background-color:rgb(212, 166, 182) ;
}
.catagory{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: rgb(93, 91, 91);
}

#description h3{
    font-family: "Marcellus" , serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 90px;
}
#description p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: rgb(93, 91, 91);
    padding-top: 10px;
}
#bg-img{
    background-image: url(./Images/bg-04.jpg);
    width: 100%;
    height: 90vh;
    /* background-position: center; */
    background-size: cover;
}
#h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 490px;
}
#bg-img h3{
    font-family: "Marcellus" , serif;
    font-size: 30px;
    font-weight: 400;
    line-height:30px;
    margin-top: 15px;
}
.pfeatures h3{
    pfeatures
}
.pfeatures span{
    color: #D4A6B6;
}
.pfeatures .right h4{
    font-family: "Marcellus" , serif;
    font-size: 23px;
    font-weight: 400;
    line-height:28px;
    margin-top: 92px;
}
.pfeatures .right .faa{
    font-size: 14px;
    color: rgb(91,91,91);
}
.pfeatures .right hr{
    color: rgba(91,91,91,0.5)

}
.pfeatures .right span{
    color: rgb(91,91,91);
    margin-left: 10px;
    font-size: 16px;
    line-height: 27px;
}
.vv{
    margin-top: 40px !important;
}
#bg-img1{
    background-image: url(./Images/bg-07.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
}
#bg-img1 h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
#bg-img1 h3{
    font-family: "Marcellus" , serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}
#bg-img1 h4{
    font-family: "Marcellus" , serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
}
#revi p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: rgb(93, 91, 91);
}
.box {
    
    border: 1px solid rgb(212, 166, 182) ;
    padding: 30px;
}
.he1{
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    line-height: 38px;
    color: rgb(93, 91, 91);
    font-weight: 500;
    margin-top: 20px;
}
.search-text{
    margin-top: 100px !important;
}