*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

header{
    position: relative;
}

.header-wrap {
    background-color: white;
}

.header-wrap .navbar{
    padding: 0.594rem 1.25rem;
    position: relative;
    z-index: 999;

}
.header-wrap .navbar .menu{
    width: 80%;
    display: flex;
    justify-content: center;
}
.header-wrap .navbar .menu .nav-item{
    margin: 0 0.469rem
}
.header-wrap .navbar .menu .nav-item .nav-link{
    color: black;
    font-size: 0.938rem;
    letter-spacing: 0.063rem;
    font-family: "Open Sans" ;
    font-weight: 400;
    transition: all 0.5s ease;
    position: relative;
}
.header-wrap .navbar .menu .nav-item .nav-link:hover{
    color: rgb(212, 166, 182);
    font-size: 0.938rem;
    letter-spacing: 0.063rem;
    font-family: "Open Sans" ;
    font-weight: 400;
}

.header-wrap .navbar .menu .nav-item .hover-line::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    position: absolute;
    top: -13px;
    left: 0;
    background-color:rgb(212, 166, 182) ;
    transition: width 0.4s ease-in;
}
.header-wrap .navbar .menu .nav-item .hover-line:hover::after{
    width: 100%;
}
.header-wrap .navbar .menu1{
    display: flex;
    justify-content: center;
}
.header-wrap .navbar .menu1 .nav-item{
    margin: 0 0.469rem;
    position: relative;
}
.header-wrap .navbar .menu1 .nav-item .nav-link{
    color: black;
    font-size: 1.2rem;
    font-family: "Open Sans" ;
    font-weight: 600;
}
.header-wrap .navbar .menu1 .nav-item .nav-link span{
    font-weight: 700;
    font-size: 1rem;
}

.header-wrap .navbar .menu1 .nav-item .nav-link .cart1{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    right: -8px;
    top: 0px;
   
}
.navbar-brand img{
    width: 104px;
    height: 49px;
}

@media (max-width:1080px){
    .header-wrap .navbar .menu .nav-item{
        margin: 0 0.125rem
    }
}





.header-wrap .navbar-toggler {
    color: pink;
    border: none; /* Remove border */
    outline: none; /* Remove focus outline */
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}
/* Remove after and before effect of hover below 986 screen size */
@media screen and (max-width: 996px) {
    .header-wrap .navbar .menu .nav-item .hover-line::after {
        display: none;
    }
    .header-wrap .navbar .menu1 .nav-item{
        display: none;
    }
}

/* Adjust navbar-toggler icon size on smaller screens if needed */
@media screen and (max-width: 768px) {
    .header-wrap .navbar-toggler {
        font-size: 1.5rem;
    }
}



/* hero  */

.hero{
    position: relative;
    z-index: 3;
}

.hero .bg-img{
    width: 100%;
    height: 88vh;
    background-image: url(./Images/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* margin:0 10px */
}
.hero .hero-txt{
    /* margin-left:4.688rem; */
    /* margin-bottom: 50px; */
    margin-top: 9.563rem ;
}
.hero .hero-txt h6{
    font-family: "Marcellus" , serif;
    font-size: 14px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    margin: 20px 0px
    
}
.hero .hero-txt h1{
    font-family: "Marcellus" , serif;
    font-size: 63px;
    font-weight: 400;
    line-height: 48px;
}
.hero .hero-txt h4{
    font-family: "Marcellus" , serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
}
.btn1{
    background-color: white;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family:"Open Sans" ;
    font-weight: 500;
    margin-top: 32px;
    transition: all .3s ease;
}
.btn1:hover{
    color: rgb(212, 166, 182);
}
 

/* logo slider  */
.slider_container{
    position: relative;
    z-index: 9999;
    background-color: white;
}
.card-slider{
    position: relative;
    z-index: 4;
}
.swiper{
    position: relative;
    z-index: 4;

}

.img_box{
    position: relative;
    z-index: 9999;
}

.img_box{
    border:1px solid  rgba(212, 166, 182 , 0.5);
    object-fit: cover;
    object-position: center;
}
.img_box img{
    width: 230px;
    /* border: 2px solid rebeccapurple; */
    
}
.card-slider{
    padding-top: 20px;
    padding-bottom:40px ;
}

/* pagination color  */
.swiper-pagination .swiper-pagination-bullet {
    background-color: black; /* Set the bullet color to black */
}
.swiper-pagination .swiper-pagination-bullet {
    background-color: black; /* Set the bullet color to black */
    width: 6px; /* Set the width of the bullet */
    height: 6px; /* Set the height of the bullet */
    margin: 0 8px !important; /* Set the margin between bullets */
}
.swiper-pagination .swiper-pagination-bullet-active {
    width: 7px; /* Set the width of the active bullet */
    height: 7px; /* Set the height of the active bullet */
}
/* logo slider end  */


/* trending heading  */

.trending-wrapper .trending-text h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    line-height: 16px;
    color: rgb(93, 91, 91);
}
.trending-wrapper .trending-text h2{
    font-family: "Marcellus" , serif;
    font-size: 43px;
    line-height: 46px;
    font-weight: 400;
}

/* trending heading  end*/

/* trending-card  */

.trending-wrapper{
    background-color: white;
    position: relative;
    z-index: 5;
}

.shop-p-wraper {
    background-color: white;
    position: relative;
    z-index: 5;
}


.trending-cards .container-fluid .card1:hover{
    transform: scale(1.1);
    /* transform: scaleY(1.1); */
}
/*  */
  
.trending-cards .container-fluid .card1 .star-rating .fa{
    color: rgb(93, 91, 91);
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.trending-cards .container-fluid .card1 .card-ratting h2{
    font-family:"Marcellus" , serif ;
    font-size: 16px;
    font-weight: 400;
    margin-top: -13px;
}
.trending-cards .container-fluid .card1 .card-ratting .cutting{
    color: rgb(93, 91, 91 , 0.5);
    font-size: 14px;
    /* line-height: 19px; */
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.trending-cards .container-fluid .card1 .card-ratting .price{
    color: 
    rgb(93, 91, 91);
    font-size: 14px;
    /* line-height: 19px; */
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.star-rating {
    line-height: 50px;
    font-size: 0.25em;
}

/* trending-cards end  */

/* selling-cards   */
.bestselling-wrapper{
    padding-top: 100px;
}
/* selling-cards end  */

/* middle section  */
.hero .bg-img1{
    width: 100%;
    height: 88vh;
    background-image: url(./Images/bg-03.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top:0;
}
.middle-h2{
    font-family: "Marcellus" , serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 43px;
}
.middle-h4{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 35px;
}
#btn1{
    margin-top: 0;
}
/* middle section end */

/* review section starts  */
.review{
    position: relative;
    z-index: 5;
}
.review .container-fluid{
    border: 2px solid red;
}
.review .container-fluid .row{
    border: 2px solid blue;

}

.review .container-fluid .col{
    border: 2px solid black;

}
.review-left h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    margin: 20px 0px;
    line-height: 16px;
    color: rgb(93, 91, 91)
}
.review-left h2{
    font-family: "Marcellus" , serif;
    font-size: 43px;
    font-weight: 400;
    line-height: 43px;
    color: black;
}
.review{
    padding-top: 50px;
}
.review-left span {
    color:rgb(212, 166, 182) ;
    font-size: 16px;
    margin-top: 10px;
}
.review-right span {
    color:rgb(212, 166, 182) ;
    font-size: 16px;
    /* margin-top: 10px; */
}
.review-right h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    margin: 20px 0px;
    line-height: 16px;
    color: rgb(93, 91, 91)
}
.review-right p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-top: 14px;
}

.star {
    padding-top: 0px;
}




/* bg-cards-2  */

.bg-cards-wrapper{
    padding-top: 130px;
    position: relative;
    z-index: 5;
}
.crd{
    /* border: 2px solid red; */
    height: 490px;
    width: 730px;
    background-position: center;
    background-size: cover;
}
.crd h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    margin: 20px 0px;
    line-height: 16px;
    color: white
}
.crd h2{
    font-family: "Marcellus" , serif;
    font-size: 43px;
    font-weight: 400;
    /* margin-bottom: 16px; */
    line-height: 36px;
    color: white
}
.crd h4{
    font-family: "Marcellus" , serif;
    font-size: 23px;
    font-weight: 400;
    margin-top: 27px;
    /* margin-bottom: 16px; */
    line-height: 28px;
    color: white
}
.crd .kk .btn1{
    margin-top: 11px;
}
.crd .kk{
    margin-top: 92px;
}


/* why us section  */
.why-wrapper{
    position: relative;
    z-index: 5;
}
.whyus{
    padding-top: 60px !important;
    
}

.why-wrapper .whyus h6{
    font-family: "Marcellus" , serif;
    font-size: 13px;
    line-height: 16px;
    color: rgb(93, 91, 91);
}
.why-wrapper .whyus .line1{
    margin-top: -13px;
    color:rgb(212, 166, 182);
}
.why-wrapper .services{
    margin-top: 60px;
}
.why-wrapper .services .span1{
    height: 32px;
    width: 32px;
    padding: 8px 8px 8px 8px;
    color: white;
    background-color:rgb(212, 166, 182) ;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    display: inline;
    
}

#arrow{
    width: 25px;
    height: 25px;
}
.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fas{
    position: relative;
    display: block;
}

.why-wrapper .services .span2{
    font-size: 23px;
    line-height: 28px;
    font-family: "Marcellus" , serif;
    color: black;
    margin-left: 13px;
    display: inline;
}
.why-wrapper .services p{
    font-size: 16px;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
    color: rgb(93, 91, 91);
    font-weight: 400;
    margin-left: 55px;
    margin-top: 14px;
}

.why-wrapper .services .span1:hover{
    background-color: black;
}


/* why us section end  */

/* footer start  */

.search-text {
	padding-top: 50px;
	background-color: rgb(246,237,240);
	padding-top: 60px;
	padding-bottom: 60px;
    border-bottom: 1px solid rgb(212, 166, 182);
    min-height: 168px;
    z-index: 5;
    position: relative;
}
#h4{
    font-size: 22px;
    line-height: 22px;
    font-family: "Marcellus" , serif;
    font-weight: 500;
    color: black;
}
	
.search-text .input-search {
	height: 50px;
	width: 40%;
	padding-left: 10px;
    color: #333;
    border: none;
    outline: unset;
    font-family: "Open Sans", sans-serif;
} 

.search-text .btn-search {
    background: black;
    border: none;
	color: #FFF;
	height: 50px;
    width: 150px;
    transition: all 0.4s linear;
    font-family: "Open Sans", sans-serif;
}
.search-text .btn-search:hover {
    background:rgb(212, 166, 182) ;
    border: none;
	color: #FFF;
	
}



footer {
    background-color: rgb(246,237,240);
    padding: 30px 0px;
    border-bottom:1px solid rgb(212, 166, 182) ;
    position: relative;
    z-index: 5;
}	       

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.address span, 
.menu span {
   color: black; 
   font-weight: 500; 
   border-bottom: 1px solid #c7c7c7; 
   padding: 10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 2px;
   font-family: "Open Sans", sans-serif;
}
 
.address li a, 
.menu li a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif
}

.address li, 
.menu li {
    margin: 20px 0px;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

.address li a:hover, 
.menu li a:hover {
    color: rgba(0, 0, 0, 0.55);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.address .fa {
    color: black;
    margin-right: 10px;
    font-size: 18px;
    
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social{
    color: black; 
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}

.fa{
    color: black;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.sociali{
    margin-top: 9px;
}

.footerbottom{
    height: 40px;
    background-color:rgb(246,237,240) ;
    padding: 40px 0px;
    position: relative;
    z-index: 5;
}
.footerbottom p{
    color: rgb(93, 91, 91);
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: -9px;
}


/* footer end  */


/* video  */


.video-wrappper .video{
   
    width: 100%;
    height: 850px;
    padding: 0;
    border: none;
    
}

.video-wrappper .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:fixed;
    top: 0;
    border: none;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(248,229,224,0.5);
    position: relative;
    z-index: 5;
    padding-top: 330px !important;
}
.overlay h2{
    font-size: 22px;
    line-height: 22px;
    font-family: "Marcellus" , serif;
    font-weight: 400;
    color:  rgb(51, 51, 51);
    
}

.overlay p{
    font-size: 16px;
    line-height: 38px;
    font-family: "Marcellus" , serif;
    font-weight: 400;
    color:  rgb(51, 51, 51);
    margin-top: 37px;
    /* font-family: "Open Sans", sans-serif; */

}
.overlay span a{
    color: rgb(51, 51, 51);
    font-family: "Marcellus" , serif;
    letter-spacing: 1px;
}
 
a:visited{
   color:  rgb(51, 51, 51);
}
a:active{
    color: rgb(51, 51, 51);
}


